{% extends "shared/_MainLayout.html" %}



{% block content %}
    <h1>Quiz application</h1>
    <hr>

    <!-- Button trigger modal -->
    {% for q in quiz %}
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        {{ q.name }}
    </button>
    
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">{{ q.name }}</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            {{ q.topic }}<br>
            {{ q.number_of_questions }}<br>
            {{ q.time }}<br>
            {{ q.required_score_to_pass }}<br>
            {{ q.difficulty }}<br>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
        </div>
    </div>
    {% endfor %}

{% endblock content %}


{% block script %}
{% endblock script %}
