{% extends "shared/_MainLayout.html" %}
{% load static %}


{% block content %}
    <h1>Quiz application</h1>
    <hr>

    <!-- Button trigger modal -->
    {% for q in quiz %}
    <button type="button" class="btn btn-primary modal-btn" data-id="{{ q.id }}" data-bs-toggle="modal" data-bs-target="#exampleModal{{ q.id }}">
        {{ q.name }}
    </button>
    
    <!-- Modal -->
    <div class="modal fade" id="exampleModal{{ q.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">{{ q.name }}</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            {{ q.topic }}<br>
            {{ q.number_of_questions }}<br>
            {{ q.time }}<br>
            {{ q.required_score_to_pass }}<br>
            {{ q.difficulty }}<br>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">No</button>
            <a type="button" href="/{{ q.id }}" class="btn btn-success" id="start-button">Yes </a>
            </div>
        </div>
        </div>
    </div>
    {% endfor %}

{% endblock content %}


{% block script %} 
    <script>
        
    </script>
{% endblock script %}
